<%- include('./partials/nav.ejs') %> 
<h2>Lista de Producto</h2>

<table>
    <thead>
        <tr>
            <th>Id</th>
            <th>Nombre</th>
            <th>Precio</th>
            <th>Foto</th>
        </tr>
    </thead>
    <tbody>
        <% productos.forEach(p => { %>
            <tr>
                <td><p><%= p.id %> </p></td>
                <td><p><%=p.title  %></p></td>
                <td><p><%=p.price  %></p></td>
                <td><a href="/productos/detalle/<%= p.id %> "><img width="100px" src="<%= p.thumbnail %> "></a></td>
            </tr>
        <% }) %>

    </tbody>
</table>
